<h2 class="font-medium text-gray-600">Send a SMS</h2>
<div class="border border-gray-300 p-5 rounded-xl mt-2">
    <form>
        <label for="price" class="block text-sm font-medium text-gray-700">Phone</label>
        <input type="text" class="focus:ring-indigo-500 outline-none focus:border-indigo-500 block w-full  pr-12 sm:text-sm border-gray-300 rounded-md">
        <label for="price" class="block text-sm font-medium text-gray-700">Message</label>
        <input type="text" class="focus:ring-indigo-500 outline-none focus:border-indigo-500 block w-full pr-12 sm:text-sm border-gray-300 rounded-md">
    </form>
</div>